#
# Copyright (c) 2018 Sijie. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

## Apache Pulsar Cluster

[proxies]
{% for host in proxies -%}
{{ host }}
{% endfor -%}

[brokers]
{% for host in brokers -%}
{{ host }}
{% endfor -%}

[bookies]
{% for host in bookies -%}
{{ host }}
{% endfor -%}

[zookeeper]
{% for host in zookeeper_servers -%}
{{ host }}
{% endfor -%}

## Monitoring

# monitoring system metrics (e.g. node_exporter and blackbox_exporter)
[monitored_hosts]
{% for host in monitored_servers -%}
{{ host }}
{% endfor -%}


[prometheus]
{{ monitoring_server }}

[pushgateway]
{{ monitoring_server }}

[grafana]
{{ monitoring_server }}

[alertmanager]
{{ monitoring_server }}

[all:vars]

pulsar_service_vip_name = {{ pulsar_service_vip_name }}
